* {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
}

html, body {

	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	margin-top: 150px;
}




/*search front page*/
.hero h1 {
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-bottom: 40px;
	font-family: 'Miriam Libre', sans-serif;
	margin-top: -50px;
}

.hero {
	height: 65vh;
	height: calc(var(--vh, 1vh) * 65);
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	background-image: url('images/background-mobile.jpg');
	background-color: #0F1330;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	position: relative;
	border: none;
}

.large-logo {
	position: absolute;
	height: 35px;
	top: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.small-logo {
	position: static;
	height: 40px;
	/*margin-left: 20px;*/
}

#city-search, #category-search, .submit-button {
	display: block;
	margin: 5px auto;
	padding: 15px 10px;
	height: 20px;
	font-size: 15px;
	border: none;
}

#city-search, #category-search {
	width: 65%;	
}



.submit-button {
	width: 25%;
	padding: 0px;
	height: 30px;
	border: none;
	background-color: white;

}

.rec-categories {
	margin-top: 65vh;
	margin-top: calc(var(--vh, 1vh) * 65);
	height: 35vh;
	height: calc(var(--vh, 1vh) * 35);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff8c7;
	position: fixed;
	width: 100%;
}

.rec-categories h3 {
	font-size: 14px;
	font-family: 'miriam libre', sans-serif;
}

.category-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 12px;
	width: 288px;
	margin-top: -15px;
}

.category-boxes button {
	background-color: transparent;
	cursor: pointer;
}

.box {
	height: 60px;
	width: 60px;
	margin: 6px;
	border: none;
	background-color: transparent;
}

.box p {
	font-style: italic;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
}

.box img {
	height: 50px;
	margin-bottom: -10px;
}

/*after form is submitted*/

/*top bar and nav*/
.top-bar {
	display: flex;
	height: 90px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	background: #0F1330;
}

.small-search {
	height: 12px !important;
	font-size: 12px !important;
}

.small-search-bars {
	width: 100%;
}

#small-submit-button img {
		height: 23px;
	}

#small-submit-button {
	height: 34px;
	width: 34px;
	margin-left: 4px;
	border: none;
	background-color: transparent;
	/*margin-right: 40px;*/
}

.small-search-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.jump-to {
	margin-top: 90px;
	font-size: 11px;
	text-align: center;
	width: 100%;
	background-color: #FDF6D9;
	padding: 10px 0;
	font-family: 'IBM Plex Mono', sans-serif;
	text-transform: uppercase;
}

.jump-to, .hero {
	position: fixed; top: 0;
}

.jump-to span, .jump-to a {
	padding-right: 2px;
}

.jump-to a {
	text-decoration: none;
	display: inline-block;
	padding: 4px;
	color: white;
	background-color: #012258;
}

/*places section*/
.places-section h2 {
	font-size: 18px;
	
}

.places-section h2, .places-subtitle {
	margin: 10px 15px;
}

.places-results, .news-results {
	list-style: none;
	padding-left: 0;
}

.places-result-item {
	display: flex;
	padding: 15px;
	margin: 3px 0;
	width: 100%;
	text-align: left;
	border: none;
	cursor: pointer;
	background-color: #edf9fc;
}

.places-image, .news-image {
	width: 60px !important;
	height: 60px;
	object-fit: cover;
}

.places-result-item h3, .news-item h3 {
	font-size: 16px;
	margin-top: 0;
	padding: 0 10px;
}

.places-result-item .places-rating {
	display: block;
	margin-top: 0;
	font-size: 14px;
	font-weight: bold;
	background-color: #c1e3c4;
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	border: 2px solid #5f995f;
}

.places-name-and-rating {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.places-text {
	width: 100%;
}

.places-result-item p, .news-item p {
	font-size: 13px;
	margin: 6px 0;
}

.places-category {
	font-style: italic;
}

.places-info {
	padding: 0 10px;
	margin-top: -20px;
}

.places-info a {
	font-size: 13px;
}


/*map section*/
#map {
	height: 300px;
	width: 100%;
	display: static;
}


.map-section h2 {
	font-size: 16px;
	padding: 10px 15px 0 15px;
}

.jump-target::before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0; 
}

.see-map {
	text-decoration: underline;
	cursor: pointer;
}

/*wikipedia section*/
.wikipedia-section {
	background-color: #FDF6D9;
	padding: 15px;
	margin-top: 20px;
}

.wikipedia-section h2, .wikipedia-section h3, .news-section h2 {
	font-size: 16px;
 }

.wikipedia-section p, .news-section p {
 	font-size: 14px;
 }

/*news section*/
 .news-items {
 	display: flex;
 }

.news-item {
	display: flex;
	padding: 15px;
}

.news-info {
	padding: 0 10px;
	margin-top: -7px;
}

.news-content {
	width: 80%;
}

.news-item .news-credit, .news-item .news-published {
	font-size: 12px;
}

.news-section h2 {
	padding: 0 15px;
}

.news-section {
	padding-top: 15px;
}

.news-section a {
	color: #012258;
}

.news-credit, .news-published {
	font-style: italic;
}

.news-section h2, .wikipedia-section h2, .map-section h2 {
	font-family: 'IBM Plex Mono', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.places-section h2 {
	font-family: 'Miriam Libre', sans-serif;
}

.js-error-message {
	margin-top: 150px;
	text-align: center;
}

/*tablet media queries*/
@media only screen and (min-width: 375px) {
	.box {
		margin: 15px;
		
	}

	.box p {
		font-size: 15px;
	}

	.category-boxes {
		width: 380px;
	}
}

@media only screen and (min-width: 600px) {
	/*search front page*/
	.hero {
		background-image: url('images/background.jpg');
	}

	.hero h1 {
		font-size: 35px;
	}

	.large-logo {
		top: 15px;
		left: 15px;
		position: absolute;
		margin: 0;
	}

	.small-logo {
		position: absolute;
		left: 15px;
		top: 9px;
	}

	.box {
		height: 100px;
		width: 100px;
		margin: 15px;
		background-color: gray;
		font-size: 14px;
		font-weight: bold;
	}

	.box img {
		height: 50px;
		margin-bottom: 2px;
	}

	.category-boxes {
		width: 520px;
	}

	form {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#city-search, #category-search {
		width: 210px;
	}

	#city-search, #category-search, .small-submit-button {
		margin: 0 2px;
	}

	.submit-button {
		display: none;
	}

	#small-submit-button {
		margin-right: 0;
	}

	.rec-categories h3 {
		font-size: 20px;
	}

	/*top bar and nav on results page*/
	main {
		padding: 0 12%;
		margin-top: 130px;
	}

	.jump-to {
		margin-top: 60px;
		font-size: 12px;
	}

	.small-search-form {
		width: auto;
	}

	.small-search-bars {
		width: auto;
	}

	.top-bar {
		height: 60px;
		justify-content: center;
	}

	.search-bar {
		display: inline-block;
	}

	#small-submit-button {
		display: block;
	}

	.small-search {
		height: 14px !important;
		font-size: 14px !important;
	}


	/*places section*/
	.places-image, .news-image {
		width: 80px !important;
		height: 80px;
		object-fit: cover;
	}

	.places-section h2 {
		font-size: 20px;
		margin-left: 0;
	}

	.places-subtitle {
		margin-left: 0;
		margin-bottom: 35px;
	}

	/*map section*/
	#map {
		height: 400px;
	}

}

/*desktop media query*/
@media only screen and (min-width: 1200px) {
	/*search front page*/
	.hero {
		height: 70vh;
	}

	.rec-categories {
		margin-top: 70vh;
		height: 30vh;
	}

	.category-boxes {
		width: 1200px;
	}
	.rec-categories h3 {
		margin-bottom: 40px;
	}

	.box img {
		height: 60px;
	}

	#city-search, #category-search {
		width: 250px;
		height: 34px;
	}

	.main {
		display: flex;
		padding: 5%;
		justify-content: space-around;
	}

	/*top bar and nav on results page*/
	main {
		margin-top: -50px;
	}

	.jump-to {
		display: none;
	}

	.top-bar {
		position: static;
		height: 60px;
	}

	.small-logo {
		display: none;
	}

	.top-bar .large-logo {
		display: inline-block;

	}

	
	/*places section*/
	.details-section {
		width: 40%;
	}

	.places-section {
		width: 35%;
	}



	/*map section*/
	#map {
		height: 400px;
	}

	.see-map {
		display: none;
	}
}

.hidden {
	display: none;
}